button {
  background: transparent;
  margin: 0;
  padding: 2px 4px;
}

button.focused {
  background: rgba(255, 255, 255, 0.3);
}

button.urgent {
  background: red;
}

button:hover:not(.focused) {
  background: rgba(255, 255, 255, 0.8);
}

.mnws-window-count { font-size: 0.65em; font-weight: bold; min-width: 1.4em; min-height: 1.4em; padding: 0; border-radius: 999px; background: @theme_selected_bg_color; color: @theme_selected_fg_color; }
