button {
  background: transparent;
  margin: 0;
  padding: 2px 4px;
}

button.focused {
  background: rgba(255, 255, 255, 0.3);
}

button.urgent {
  background: red;
}

button:hover {
  background: rgba(255, 255, 255, 0.8);
}

.mnws-window-count { font-size: 0.65em; font-weight: bold; padding: 0 0.15em; border-radius: 0.4em; background: @theme_selected_bg_color; color: @theme_selected_fg_color; }
